<div class="row">
	<div class="col-xs-4">
		<a href="/nguyen/angular/angulardemo/admin#user"><img src="public/image/user.png" alt="" class="icon"></a>
		<h2><% countUser %></h2>
		<p>Users</p>
	</div>
	<div class="col-xs-4">
		<a href="/nguyen/angular/angulardemo/admin#category"><img src="public/image/category.png" alt="" class="icon"></a>
		<h2><% countCate %></h2>
		<p>Categories</p>
	</div>
	<div class="col-xs-4">
		<a href="/nguyen/angular/angulardemo/admin#item"><img src="public/image/item.png" alt="" class="icon"></a>
		<h2><% countItem %></h2>
		<p>Items</p>
	</div>
</div>
